package org.multiverse.api.closures;

import org.multiverse.api.Transaction;

/**
* An AtomicClosure tailored for ${closure.type}
*
* @author Peter Veentjer.
*/
public interface ${closure.name}${closure.typeParameter}{

    /**
     * Executes the closure.
     *
     * @param tx the Transaction. Depending on the TransactionPropagation level, this could
     *           be null.
#if(${closure.type} ne 'void')
     * @return the result of the execution.
#end
     * @throws Exception if unable to compute a result
     */
     ${closure.type} execute(Transaction tx)throws Exception;
}
