package org.multiverse.stms.gamma;

import org.multiverse.api.*;
import org.multiverse.api.closures.*;
import org.multiverse.api.exceptions.*;
import static org.multiverse.api.TxnThreadLocal.*;

public class GammaOrElseBlock implements OrElseBlock{

#foreach($closure in $closures)

    @Override
    public ${closure.typeParameter} ${closure.type} execute(${closure.name}${closure.typeParameter} either, ${closure.name}${closure.typeParameter} orelse){
        try{
#if(${closure.type} eq 'void')
            executeChecked(either,orelse);
            return;
#else
            return executeChecked(either,orelse);
#end
        }catch(RuntimeException e){
            throw e;
        }catch(Exception e){
            throw new InvisibleCheckedException(e);
        }
    }

    @Override
    public ${closure.typeParameter} ${closure.type} executeChecked(${closure.name}${closure.typeParameter} either, ${closure.name}${closure.typeParameter} orelse)throws Exception{
        if(either == null){
            throw new NullPointerException("either closure can't be null");
        }

        if(orelse == null){
            throw new NullPointerException("orelse closure can't be null");
        }

        Txn txn = getThreadLocalTxn();
        if(txn == null){
            throw new TransactionMandatoryException("No txn is found, but one is required for the orelse");
        }

        try{
#if(${closure.type} eq 'void')
            either.execute(txn);
            return;
#else
            return either.execute(txn);
#end
        }catch(RetryError retry){
#if(${closure.type} eq 'void')
            orelse.execute(txn);
            return;
#else
            return orelse.execute(txn);
#end
        }
    }
#end
}